In [46]:
import pandas as pd
import json
import sqlite3
import ast
import csv

In [1]:
conn = sqlite3.connect('Food_Mod3_proj.db')
c = conn.cursor()

In [136]:
def csv_to_db(a_list):
    with open('/Users/jonathanpeck/desktop/cris/csv/veganNY.csv', newline='') as csvfile:
        _data = csv.reader(csvfile)
        for row in _data:
            rest_info = []
            try: 
                name = row[10] #name
                city = ast.literal_eval(row[9])['city'] #city
                price = row[12] #price
                rating = row[13] #rating
                review_count = row[14] #review_count
                rest_info.append([name, city, price, rating, review_count])
                c.execute("""INSERT INTO rest_info (name, city, price, rating, review_count)
                VALUES (?, ?, ?, ?, ?);""", rest_info[0])
            except: 
                print('failed')

failed

In [152]:
csv_to_db(csv_list)

failed
failed
failed
failed
failed
failed
failed
failed

In [141]:
csv_list = ['veganNY.csv', 
            'meatLA.csv',
            'meatDallas.csv',
            'veganMinneapolis.csv',
            'stakehouseNY.csv',
            'veganLA.csv',
            'meatMinneapolis.csv',
            'veganDallas.csv']

In [150]:
c.execute('''CREATE TABLE rest_info
(name TEXT NOT NULL, 
city TEXT NOT NULL,
price INTEGER NOT NULL, 
rating INTEGER NOT NULL, 
review_count INTEGER NOT NULL);''')

In [154]:
c.execute("""select distinct city from rest_info""").fetchall()

[('New York',),
 ('Brooklyn',),
 ('Bedford-Stuyvesant',),
 ('Long Island City',),
 ('Astoria',),
 ('Ridgewood',),
 ('Bay Ridge',),
 ('Rego Park',),
 ('Bronx',),
 ('Flushing',),
 ('Jersey City',),
 ('Forest Hills',),
 ('East Flatbush',),
 ('Queens Night Market',),
 ('Manhattan',),
 ('Williamsburg',),
 ('Sunset Park',),
 ('Woodside',),
 ('Greenpoint',),
 ('Park Slope',),
 ('Sunnyside',),
 ('Hoboken',),
 ('Bayonne',),
 ('Newark',),
 ('Queens',),
 ('Jackson Heights',),
 ('Cliffside Park',),
 ('Kew Gardens',),
 ('Clifton',),
 ('Staten Island',),
 ('Dumbo',),
 ('Elmhurst',),
 ('Red Hook',),
 ('Brooklyn Heights',),
 ('Guttenberg',),
 ('Secaucus',),
 ('Clinton Hill',),
 ('Fullerton',),
 ('Maspeth',),
 ('Santa Monica',),
 ('Los Angeles',),
 ('Burbank',),
 ('Glendale',),
 ('Gardena',),
 ('Beverly Hills',),
 ('South Gate',),
 ('La Crescenta-Montrose',),
 ('Culver City',),
 ('Toluca Lake',),
 ('La Crescenta',),
 ('Pasadena',),
 ('Huntington Park',),
 ('North Hollywood',),
 ('Studio City',),
 ('Sun Valley',),
 ('Vernon',),
 ('Inglewood',),
 ('Manhattan Beach',),
 ('Van Nuys',),
 ('Universal City',),
 ('Sherman Oaks',),
 ('Montrose',),
 ('South Pasadena',),
 ('Venice',),
 ('Lynwood',),
 ('Hawthorne',),
 ('West Los Angeles',),
 ('Hollywood',),
 ('Redondo Beach',),
 ('Panorama City',),
 ('Marina del Rey',),
 ('Bell Gardens',),
 ('Valley Village',),
 ('Compton',),
 ('West Hollywood',),
 ('Woodland Hills',),
 ('Commerce',),
 ('Altadena',),
 ('San Fernando Valley',),
 ('El Segundo',),
 ('Eagle Rock',),
 ('Alhambra',),
 ('Cudahy',),
 ('Monterey Park',),
 ('Dallas',),
 ('Richardson',),
 ('Carrollton',),
 ('Garland',),
 ('Farmers Branch',),
 ('Plano',),
 ('Duncanville',),
 ('Irving',),
 ('Addison',),
 ('Mesquite',),
 ('Dallas Tx',),
 ('Lewisville',),
 ('Frisco',),
 ('McKinney',),
 ('Coppell',),
 ('Minneapolis',),
 ('Saint Paul',),
 ('St Paul',),
 ('Bloomington',),
 ('Golden Valley',),
 ('Saint Louis Park',),
 ('Brooklyn Park',),
 ('Edina',),
 ('St. Louis Park',),
 ('Eden Prairie',),
 ('St. Paul',),
 ('Columbia Heights',),
 ('St Louis Park',),
 ('Richfield',),
 ('Roseville',),
 ('Plymouth',),
 ('Maple Grove',),
 ('Minnetonka',),
 ('Robbinsdale',),
 ('Spring Lake Park',),
 ('Hopkins',),
 ('Mounds View',),
 ('Osseo',),
 ('Eagan',),
 ('Twin Cities',),
 ('Fridley',),
 ('Brooklyn Center',),
 ('Crystal',),
 ('New Brighton',),
 ('Mendota Heights',),
 ('North Oaks',),
 ('Shoreview',),
 ('Burnsville',),
 ('Blaine',),
 ('Saint paul',),
 ('Crown Heights',),
 ('Bushwick',),
 ('Fort Lee',),
 ('Corona',),
 ('Rockaway Park',),
 ('North Bergen',),
 ('Harlem',),
 ('Tompkinsville',),
 ('Palisades Park',),
 ('College Point',),
 ('West New York',),
 ('Middle Village',),
 ('Hackensack',),
 ('Garfield',),
 ('East New York',),
 ('Fairview',),
 ('Union City',),
 ('Coney Island',),
 ('Kearny',),
 ('Bath Beach',),
 ('Carlstadt',),
 ('Passaic',),
 ('Howard Beach',),
 ('Ozone Park',),
 ('North Arlington',),
 ('Briarwood',),
 ('West Bronx',),
 ('Borough Park',),
 ('Nutley',),
 ('jersey city',),
 ('Boyle Heights',),
 ('Lawndale',),
 ('Playa Vista',),
 ('Westwood',),
 ('Bell',),
 ('Highland Park',),
 ('Downey',),
 ('Encino',),
 ('Paramount',),
 ('Arden Hills',),
 ('Mendota',),
 ('New Hope',),
 ('St. Anthony',),
 ('Lexington',),
 ('Falcon Heights',),
 ('Coon Rapids',),
 ('St. Anthony Village',),
 ('Carollton',),
 ('Allen',)]